@{
    ViewData["Title"] = "Find";
}
<h1>
    How can you release a bike ?
</h1>
<p1>
    There are 2 ways of choosing and releasing a bike.
    You can release a bike at a station terminal. Select a bike from the terminal screen and release it by pressing the button on the bike stand as directed.
    <br />
    Alternatively, you can use the NOW TV dublinbikes App. Select the bike of your choice and swipe ‘release a bike’.
    You then have 60 seconds to release the bike chosen by pressing the button on the bike stand.
</p1>
<br />
<h2>
    No bike at the station ?
</h2>
<p2>
    You can view nearby stations and the number of available bikes at each station on the official NOW TV dublinbikes App or at a station terminal.
</p2>
