@{
    ViewData["Title"] = "Price";
}
<h1>
    <i>
        Subscription details !!
    </i>
</h1>
<h4>
    Annual Membership
</h4>
<p4>
    <b>
        € 0.80
    </b>
    For just €4.00 you can enjoy 5 rides
    that’s just 0.80cent per ride! Ideal for the occasional rider.
    A ride is 60 minutes in duration.
</p4>
<br />

<h2>
    3 Month Membership
</h2>
<p1>
    <b>
        € 20.00
    </b>
    Our 3 month membership plan is great value!
    Avail of up to four 60 minute rides per day.
    Perfect for students and seasonal riders.
</p1>
<br />
<h3>
    Annual Membership
</h3>
<p2>
    <b>
        € 75.00
    </b>
    Annual membership gives you access to Bikes up to 4 times a day 365 days per year!
    The ultimate commuter solution!
</p2>

