@{
    ViewData["Title"] = "Rent";
}
<h1>
    Log in and choose a NOW TV dublinbikes subscription
</h1>
<p1>
    You can create an account on the official NOW TV dublinbikes App or on dublinbikes.
    ie Short term subscriptions can also be chosen at credit card enabled stations.
    Tap the screen on ‘choose a NOW TV dublinbikes subscription’ and select 3 Day Ticket.
</p1>
<br />
<p2>
    Before selecting a bike you can consult previous users feedback on the App or on the bike terminal.
    Once selected the condition of the bike should be checked at the station.
    <br />
    The saddle, pedals, basket attachment, bell, brakes, lighting and tyre condition
    should all be checked in advance of taking the bike.
</p2>
